

 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background-color: HSLA(60, 17%, 95%, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  }

header {
  padding-top: 20px;
  vertical-align: center;
  margin-top: -50px;
  background-color: white;
  height: 80px;
  border-bottom: 1px solid HSLA(60, 4%, 87%, 1);



      .iconName {
        padding-right: 17px;
        float: left;
        font-size: 30px;
        color: HSLA(17, 68%, 49%, 1);
        margin-left: 225px;
      }

      #input_area{
        width: 268px;
        border-radius: 3px;
        line-height: 13px;
        padding-left: 9px;
        font-size: 15px;
        vertical-align: middle;
        height: 34px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        height: 34px;
      }

       .search {
          display: inline-table;
          float: left;
            input.button{
              vertical-align: top;
              height: 34px;
              width: 81px;
              background-color: HSLA(193, 53%, 54%, 1);
              color: white;
              border-bottom-right-radius: 3px;
              border-top-right-radius: 3px;
              border-color: HSLA(193, 53%, 54%, 1);
            }

            input:focus{
              outline: none;
              border: 1px solid HSLA(193, 53%, 54%, 1);
  
            }
          }


    .browse{
          select{
            height: 34px;
            background-color: white;
            width: 78px;
            font-size: 13px;
            }

        float:left;
        padding-left: 19px;
        line-height: 31px;
        }

    .showResults{
      line-height: 20px;
      background-color:HSLA(60, 17%, 95%, 1);
    }

    .cart{
      //float:left;
      padding-left:10px;
      line-height: 34px;
    }

    .signInButton {
      margin-left: 13px;
      color:HSLA(193, 53%, 54%, 1);
      background-color:white;
      line-height: 34px;
      padding-top: 0px;
      border: 1px solid HSLA(193, 53%, 54%, 1);
      border-radius: 3px;
      }
    .register{
      padding-left:10px;
      color:HSLA(193, 53%, 54%, 1);
      text-decoration: none;
      line-height: 34px;
     }
    .help{
      line-height: 34px;
      padding-left: 192px;
      color:HSLA(193, 53%, 54%, 1);
      text-decoration: none;
    }

  }

  
      

    


.sidebar {
  clear:both;
  margin-top: 50px;
  margin-right: 18px;
  float: left;
  width: 210px;
  height: 2100px;
  background-color: white;
  margin-left: 230px;
  border-radius: 3px;
  font-size: 14px;
  color:SLA(193, 53%, 54%, 1);
}//sidebar close brace
.sideBarTwo{
  padding-top: 1499px;
  width: 210px;
  height: 218px;
  background-color: HSLA(60, 17%, 95%, 1);
  margin-top: 200px;
}//sidebar2 close brace

.firstCategory li{
  text-decoration: none;
}

.itemBox{
    border-radius:3px;
    margin: 10px;
    float: left;
    padding: 5px;
    width: 224px;
    height: 220px;
    background-color: white;
    font-size: 12px;
        
    img {
      width:214px;
      height:170px;
    }//img close
    .curCode{
      padding-top:4px;
      padding-left:3px;
      float:right;
      color:HSLA(98, 50%, 52%, 1);
  }//curCode close

    .priceColor{
      padding-top:4px;
      float: right;
      color:HSLA(98, 50%, 52%, 1);
    }
    .shopName{
      float:left;
      padding-top:4px;
      color:HSLA(300, 1%, 70%, 1);
    }
    .shopName:hover{
      text-decoration: underline;
    }
    
}//itembBox close

.itemBox:hover{
    .hoverPics {
      visibility: visible;
    }
    .hoverPics2{
      visibility: visible;
    }
  } 

.hoverPics{
  float:right;
  position: absolute;
  margin-top: -188px;
  margin-left: 154px;
  width:30px;
  height: 30px;
  background-color:white;
  visibility: hidden;
    img{
      padding: 6px;
      width: 30px;
      height: 30px;
    }
}// close .hoverPics

.hoverPics2{
  float:right;
  position: absolute;
  margin-top: -188px;
  margin-left: 184px;
  width:30px;
  height: 30px;
  background-color:white;
  visibility: hidden;
    img{
      width: 17px;
      height: 17px; 
    }
}// close .hoverPics2

 

.mainSection {
  margin-top: 22px;
  width:1300px;
  background-color:HSLA(60, 17%, 95%, 1);
}

.container {
  min-width:1300px;
  margin:50px auto;
}

.titleSpace {
  text-decoration: none;
  color:HSLA(0, 2%, 41%, 1);
  display:block;
  overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;  
}

.titleSpace:hover{
  text-decoration: underline;
}

.radioButtons {
  font-size: small;
  padding-top: 15px;
  padding-left: 15px;
} 
.colorFilter{
  float:left;
  list-style-type: none;
li {
  float:left;
}

footer{
  height:200px;

}

}
 
  





 



