body {
  width: 1300px;
  margin: auto;

}

.hdr {
	width: 1300px;
	margin: auto;

}

.sidebar {
	float: left;
	width: 300px;
	margin-left: 200px;
	background-color: red;

	






}


.mainpage {
	float: right;
	width: 600px;
	margin-right: 200px;
	background-color: blue;
		
}
p {
	color: white;

}






