// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@mixin whiteBox () {
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
}
 
body {
	background: hsla(119, 17%, 96%, 1.0);
	width: 1426px;
    

  }
  .hdr {
 	     background-color: white;
         width: 1000px;
         height: 100px;
         margin: 0 auto;
         margin-top: 0;


         
      

  	}	
     .hdrtext  { 
       float: left;
  	   position: relative;
       text-align: center;
       margin:  0 auto;
       margin-left: 50px;
       top: 33px;
       font-size: 30px;
       color: orange;
			
	
  }

  	 .searchbox {
  		  position: relative;
        text-align: center;
  		  width: 300px;
  		  margin-left: 100px;
  	    top: 40px;
        
          

}

      .browsebox {
        position: relative;
        text-align: center;
        width: 100px;
        margin-left: 400px;
        top: 17px;


  }
      .navbox {
        float: right;
        position: relative;
        margin: 0 auto;

        


        
}
         
  		
  	   .Helplink:hover {
        
        position: relative;
        margin: 0;

        text-decoration: underline;

}
      .registerlink:hover {
        
        position: relative;
        margin: 0;
        text-decoration: underline;

      }
      .signinlink {
      
        position: relative;
        margin: 0;
      }
      .cartlink {
        margin: 0;
      }




 .midsection {
 	width: 1000px; 
	margin: 50px auto;
	

 }

 section.content {
    overflow: hidden;
 


      .sidebar {
	       float: left;
	       width: 200px;
	       margin-right: 5%;
	       min-height: 300px;
	       padding: 15px;
         @include whiteBox;
}              

      .menu {
        padding: 10px;
      }

      .tabletitle {
        font-weight: bold;
        padding: 5px;
      }

      .tablecontents {
        padding: 5px;
      }


      .table:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);
      }

      .contenttype {
        padding: 5px;
      }


      .list: {
        padding: 5px;
      
      }

      .subcategories {
        padding: 5px;
        margin-left: 5px;
      }

      .list1:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);
      }

      .list2:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);

      }

      .list3:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);

      }

      .list4:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);
      }

      .list5:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);
      }

      .list6:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);

      }

      .list7:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);
      }

      .list8:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);
      }

      .list9:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);

      }

      .list10:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);

      }

      .listclose:hover {
        text-decoration: underline;
        color: hsla(186, 96%, 42%, 1.0);
        font-weight: bold;
      }
      
        
      
  }       

      

    
     .contentpage {
	     float: left;
       width: 750px;


		    .contentbox {
			     overflow: hidden;
			 

			}
		
	.item {
      @include whiteBox;
	    float: left;
      width: 226px;
      padding: 5px;
      overflow: hidden;
      margin-bottom: 25px;
      	
      	img {
      		height: 214px;

      	}
     
     	
     
	
	 h4 	{
		font-size: 8px;
    margin: 0 0 5px 0;
    overflow: hidden;
    width: 211px;

	} 

	.contentshop {
        float: left;
        font-size: 9px;
        color: hsla(0, 0%, 80%, 1.0);
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

}
	.money {
        float: right;
        font-size: 9px;
        margin-right: 15px;
        color: hsla(92,50%,51%,1);
        
    }
  
  }

}

















